.RegisterPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 570px;
}

.title {
}

.text {
    padding: 0 16px;
}

.text p {
    white-space: wrap;
}
