.TasksTableRow {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr;
    grid-auto-flow: column;
    border-bottom: 2px solid var(--neutral-700);
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.button {
    width: min-content;
    justify-self: center;
    align-self: center;
}