.container {
    position: relative;
}

.Input {
    outline: none;
    border: none;
    color: var(--secondary-color);
    background: var(--input-bg-color);
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    transition: var(--theme-transition);

    &:focus {
        outline: none;
    }
}

.label {
    white-space: nowrap;
}

.eyeIcon {
    position: absolute;
    right: 12px;
    top: 52px;
}

.eyeOffIcon {
    position: absolute;
    right: 12px;
    top: 52px;
}
