.MeetingsListItem {
    display: grid;
    width: 100%;
    background: var(--primary-800);
    grid-auto-flow: column;
    grid-template-columns: 2fr 2fr 1fr 2fr;
    padding: 16px 24px;
    border-radius: 16px;
    align-items: center;
}
